.sectionTitle{
    color: #000;
    font-family: 'Gilroy-Medium';
    font-size: 25px;
    font-weight: 600;
    padding-left: 1px;
    padding-top: 30px;
    padding-bottom: 18px;
    text-align: left;
}