.circle{
    width: 60px;
    height: 60px;
    border-radius: 45px;
    border: 1.5px solid #5C5C5C;
    background: lightgray -7.002px 0px / 120% 100% no-repeat;
}
.photo{
    width: 60px;
    height: 60px;
border-radius: 100px;
}
.title{
    color: #000;
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.circle:hover{
    border: 1.5px solid #D7EEFE;
}