.searchBar {
    padding: 12px 41px;
    min-width: 50%;
    border-radius: 1000px;
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    border: none;
    position: relative;
}

.searchIcon{
    position: absolute;
    top:35px;
    left: 25%;
}
@media screen and (max-width: 800px) {
    .searchBar{
        min-width: 30%;
    }
}
@media screen and (max-width: 700px) {
    .searchIcon{
        display: none;
    }
    .searchBar{
        padding: 8px 28px;
        min-width: 15%;
    }
}
@media screen and (max-width: 520px) {
    .searchBar{
        display: none;
    }
}