.subtitle{
    color: #3186C3;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 18px;
    text-decoration: none;
}
.subtitle:visited{
    color: #004F86;
}