.nav{
    border-radius: 100px;
    padding: 14px 26px;
    display: flex;
    background: rgba(0, 0, 0, 0.10);
    align-items: center;
}
.catalog{
    padding-top: 3px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 500;
    margin-left: 15px;
}